.hero_create {
  text-align: center;
}

.hero_name_create_instructions {
  text-align: center;
}

.hero_name_text_field {
  width: 300px;
  margin: 0 auto;
}

.hero_name_define {
  width: 300px;
  height: 30px;
}

.hero_name_submit_box {
  width: 180px;
  margin: 20px auto 0;
}

.hero_name_define_submit {
  display: none;
  width: 140px;
  padding: 2em 2em;
  font-size: 1.8em;
}